<h2 class="page-header">Edit books</h2>

<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/book/<%= book.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>